<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slvi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SLVI">
        <activity android:name=".Profile"
            android:label="Profile"
            android:theme="@style/Theme.SLVI.NoActionBar"></activity>
        <activity
            android:name=".RevenueDetails"
            android:label="Revenue Details"
            android:theme="@style/Theme.SLVI.NoActionBar" />
        <activity
            android:name=".OngoingVehicleNumber"
            android:label="Ongoing Vehicle Number"
            android:theme="@style/Theme.SLVI.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="Login"
            android:theme="@style/Theme.SLVI.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Feedback"
            android:label="Feedback Forum"
            android:theme="@style/Theme.SLVI.NoActionBar" />
        <activity
            android:name=".ContactUs"
            android:label="Contact Us"
            android:theme="@style/Theme.SLVI.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:theme="@style/Theme.SLVI.NoActionBar">

        </activity>
        <activity
            android:name=".ViewVehicleDetails"
            android:label="Vehicle Details"
            android:theme="@style/Theme.SLVI.NoActionBar" />
        <activity
            android:name=".Home"
            android:label="Home"
            android:theme="@style/Theme.SLVI.NoActionBar" >

        </activity>
        <activity
            android:name=".SignUp"
            android:label="Sign Up"
            android:theme="@style/Theme.SLVI.NoActionBar">
        </activity>
    </application>

</manifest>